@charset "utf-8";
body{
    margin-top: 10%;
    width: auto;
    display: grid;
    align-items: center;
}

section {
    background-color: aqua;
   padding: 15px;
    margin: auto;
    width: auto;

}